<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="contentContainer">
    <h2>댓글 수정</h2>
    <form method="post" th:action="@{|/modifyComment/${noticeId}/${comment.commentNo}|}">
        <fieldset>
            <legend>댓글 수정</legend>
            내용 수정 :<input type="text" name="content" th:value="${comment.commentContent}">
            <button type="submit">수정하기</button>
        </fieldset>
    </form>
</div>
</body>
</html>

