<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="loginbox">
    <h2>로그인</h2>
    관리자 Id : admin
    관리자 Pwd : 1234
    user Id : user
    user pwd : 1234
    <form method="post" action="/login">
        <fieldset>
            <legend>로그인 구역</legend>
            <input type="text" name="id" placeholder="아이디을 입력해 주세요">
            <input type="password" name="pwd" placeholder="비밀번호를 입력해 주세요">
            <button type="submit">로그인</button>
        </fieldset>
    </form>
</div>
</body>
</html>